.containerNavBox {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hamburguer {
    display: none;
}

.navContent {
    width: 80vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

.logo {}

.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item {
    padding: 0px 10px;
    color: rgb(79, 79, 79)
}

.item:hover {
    font-weight: 700;
    padding: 0px 10px;
    border-bottom: 2px solid rgb(50, 50, 255);
    color: rgb(255, 255, 255);
}

.searchBar {
    width: 320px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.searchBox {
    width: 200px;
    height: 30px;
    background: rgb(45, 45, 45);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.icon {
    width: 25px;
}

.input {
    width: 150px;
    height: 25px;
    display: flex;
    align-items: center;
    padding: 5px;
    background: rgb(45, 45, 45);
    color: rgb(189, 189, 189);
}

.btSearch {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 14px;
    background: rgb(81, 81, 81);
}

.btSearch:hover {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 14px;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(50, 50, 255);
    color: rgb(255, 255, 255);
}


.profile {
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: url('../../../img/face.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.username {
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.status {
    color: rgb(0, 255, 140);
}